.cardContenedor{
    display: flex;
    justify-content: space-evenly;
    margin:0 6%
}

.card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
    background-color:$colorPrincipal;
    text-align: center;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 40px;
    margin: 19px;
    justify-content: space-evenly;
    padding: 21px;
    width: 25%;
}


.card-body{
    p{  display: flex;
        flex-direction: column;
        color: aliceblue;
        text-align: left;
        margin: 0 5%;
    
    }
}

.botonMascotas{
    margin-top: 20%;
    background-color: $colorSecundario;
    border: 2px solid black;
    a{
        color: black;
        font-weight: bold;
        text-decoration: none;
        margin: 13%;
        font-size: 20px;
    }
}

