footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: $colorPrincipal;
    margin-top: 15%;
    

}
    

.footerOpcion {
    a{
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive, 'Times New Roman', Times, serif;
    margin: 1rem;
    text-decoration: none;
    color: $colorSecundario;
    }
    img{ width: 3rem;
        height: 3rem;
        margin: auto;
        }
}



@media screen and (max-width:425px){
    .footerOpcion{
        a{
            font-size: 26px;
            margin: 0;
        }
    }
    
}


@media screen and (max-width:375px){
    .footerOpcion{
        a{
            font-size: 26px;
            margin: 0;
        }
    }
    
}


.footerLinks {
    a{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    }
}