form{
    text-align: center;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #355070;
    margin-top: 10%;
    width: 45%;
    display: flex;
    flex-direction: column;
    .formAyuda{
        display: flex;
        border: 2px solid black;
        align-items: center;
        margin: 6% 24%;
        background-color: #E56B6F;
        p{
            margin: 0 4%;
            font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
            color: #355070;
            font-size: 11px;
            font-weight: bold;
        }
    }    

    p{
        font-size: 2rem;
        color: #E56B6F;
    }
    .formDonacion{        
        margin: 14% 0 0 0;
    }
    input{
        padding:8px 16px;
        margin-top:32px;
        border:1px solid #000;
        border-radius:5px;
        display:block;
        color:#fff;
        text-align: center;
        font-family: 'Roboto', sans-serif, 'Bebas Neue', bold;
        width: 100%;
        button {
            padding      : 5px;
            font         : bold .6em sans-serif;
            border       : 2px solid #333;
            border-radius: 5px;
            background   : none;
            text-align: center;
            font-size: 2rem;
            margin-top: 2rem;
            &:hover{
                border:2px solid #fff
            }
        } 
        textarea{
            margin-top: 2rem;
            font-family: 'Roboto', sans-serif, 'Bebas Neue', bold;
            font-size: 1rem;
            text-align: center;
        }
        .formLabel{
            font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
            font-size: 2rem;
            margin: 4rem;
        }
        .form-control{
            margin: 10%;
        }
        .form-select{
            font-size: 2rem;
        
        }
        .form-label{
            font-size: 3rem;
            font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
        }
        option{
            font-size: 1rem;
        }
    }
    textarea{
        width: 100%;
        margin: 5% 0;
        text-align: center;
    }
    label{
            width:auto;
            font-family: 'Roboto', sans-serif, 'Bebas Neue', bold;
            margin-top: 2rem;
            font-size: 150%;
        
    }
    .button{
        text-align: center;
        size: 1rem;
        border: solid 2px black;
        background-color: #E56B6F;
        width: 50%;
        font-size: 2rem;
    }
    .opcionesAdopcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 33px;
    }
    .formAyuda{
        width: 70%;
        display: flex;
        flex-direction: column;
        p{
            font-size: 14px;
            margin: 5px 8px;
        }
    }
}
.requisitos{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 4% 12%;
    border: 2px solid black;
    background-color: #E56B6F;
    li{
        margin: 2% 4%;
    }
}

.ubicacion{
    display: flex;
    justify-content: center;
    margin: 31px 5%;
}

.ayuda{
    display: flex;
    border: 2px solid black;
    align-items: center;
    margin: 6% 2%;
    background-color: #E56B6F;
    p{
        font-size: 1.4rem;
        margin: 0 6%;
    }
}

