@media screen and (max-width:425px){
    h2{
        font-size: 4rem;
    }

    .carouselSize{
        height: 31%;
        width: 100%;
    }
    
    .CarCard{
        width: 85%;
    }

    img{
        padding: 9%;
    }

    
    .footerOpcion{
        a 
        {font-size: 20px;
    }
    }



    .card-body{
        padding: 0;
    }

    p{
        font-size: 17px;
        margin: 0;
    }

    h1{
        font-size: 2rem;
    }

    .card{
        padding: 8px;
        width: 100%;
    }


    .contenedorVideo{
        width: 100%;
    }
    

    .nav{
        padding: 0;
    }


.botonMascotas{
    background-color: #E56B6F;
    border: 2px solid black;
    margin: 7%;
}

.row{
    justify-content: center;
    display: flex;
}


.contenedorVideo {
        width: 100%;
        
}

.titulo2{
    margin: 2rem;
    font-size: 2rem;
}


@media screen and (max-width:425px){
    .titulo2{
        font-size: 1rem;
}
}


.formulario{
    width: 90%;
}

.contenedorVideo{
    iframe{
    width: 100%;
    margin: 5% 0;
}
}



}


@media screen and(max-width:768px)
{
    .video{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 4%;
        align-items: center;
}
    
}


