@media screen and (max-width:425px){
    h2{
        font-size: 2rem;
    }

    .carouselSize{
        height: 22%;
        width: 60%;
    }
    
    .CarCard{
        width: 85%;
    }

    img{
        padding: 9%;
    }

    
    .footerOpcion{
        a {font-size: 1rem;
        }
    }



    .card-body{
        padding: 0;
    }

    p{
        font-size: 17px;
        margin: 0;
    }

    h1{
        font-size: 2rem;
    }

    .card{
        padding: 8px;
    }


    .contenedorVideo{
        width: 100%;
    }
    

    .nav{
        padding: 0;
    }


}