.nav{
    background-color: $colorPrincipal;
    padding: 4px;
    text-decoration: none;

}
  
.nav { grid-area: nav; }
  
  .cuerpoHome { grid-area: cuerpoHome; }
  .footer { grid-area: footer; }
  
.navbar{
  padding-top: 0;
  text-decoration: none;
}

.bg-dark{
  background-color: $colorPrincipal;
}

.navbar-brand{
  font-family: 'Bebas Neue', cursive, 'Times New Roman', Times, serif;

}

.container-fluid{
  margin-bottom: 2% !important;
}



@media screen and (max-width:768px){
  a{
    font-size: 10px;
    
  }

  form{
    width: 70%;
  }
  

}