.nav{
    display: flex;
    justify-content: end;
    background-color: $colorPrincipal;
    padding: 4px;
    text-decoration: none;

}
  
.nav { grid-area: nav; }
  
  .cuerpoHome { grid-area: cuerpoHome; }
  .footer { grid-area: footer; }
  
.navbar{
  padding-top: 0;
}

.navbar-brand{
  font-family: 'Bebas Neue', cursive, 'Times New Roman', Times, serif;

}



@media screen and (max-width:769px){
  a{
    font-size: 10px;
    
  }

  form{
    width: 70%;
  }
  

}