$colorPrincipal: #355070;
$colorSecundario: #E56B6F;

@import "bootstrap";
@import "cards";
@import "footer";
@import "formulario";
@import "media";
@import "menu";
@import "multimedia";
@import "nav";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


html, body {
    width: 100%;
    height: 100%; 
    .container-fluid{
        margin-top: 2%;
    }
    p{
        font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
        font-size: 1.7rem;
        margin: 0 25%;
    }    
    h3{
        margin-top: 5%;
    }
    h4{
        text-align: center;
        margin: 9% 29%;
        background-color: #E56B6F;
        border-radius: 26px;
        padding: 3%;
    }
    h5{
        text-align: center;
        margin: 5% 18%;
        background-color: $colorSecundario;
        border-radius: 26px}
    .boxTexto{
        color: white;
        background-color: $colorPrincipal;
        font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;
        padding: 25px;
        margin: 0 20%;
        
    }
    .textResaltado{
        color: $colorSecundario;
    }
    .titulo{
        font-size: 2rem;
    }
    .contenedorHome{
        margin: 20px 0;
    }
            
}

.ubicacion{
    display: flex;
    justify-content: center;
    margin: 31px 0 0 0;

}


.contenedorVideo{
    display: flex;
    margin: 11px;
    justify-content: center;
    iframe{
        width: 60%;
        margin: auto;
        height: 28rem;
}
}

.logo{   
    font-size: 4rem;
    color: #E56B6F;
    margin: 0;
    font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;

} 





@media screen and (max-width:768px){
    body{
        .logo{
            font-size: 3rem;
        }
    }
        h4{
        margin: 10% 27%;
    }
}
    .fotos{
    img{
        height: 25rem;
}
}

    .titulo{
        font-size: 2rem;
}
    .nav-item{
        display: inline;

}
.contenedorHome{
    p{
        font-size: 1.5rem;
    }
}




@media screen and (max-width:425px){
    body{
        h4{
        margin: 13% 3%;
    }
    .contenedorHome{
        p{
            font-size: 1.5rem;
            margin: 0 5%;
        }
    }
    .titulo3{
        font-size: 3rem;
    }
}
    
}

@media screen and (max-width:768px){
    .contenedorVideo{
        iframe{
            width: 100%;
            margin: 15px 10px;
            height: 24rem;
    }
}
}


@media screen and (max-width:320px){
    .contenedorVideo{
        iframe{
            width: 100%;
            margin: auto;
            height: 14rem;
    }
}
    
}




    

.container-fluid{
    margin-bottom: 7%;
    height: 80%;
}


.cuerpo__multimedia{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-radius: 40px;
    margin: auto;
    gap: 20px;
    margin-bottom: 17px;
    
}


.bodyProductos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
        "header header header"
        "main main footer" ;
    
}


.headline{
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;
    color: #E56B6F;
    text-decoration: underline $colorSecundario;

}

.titulo{
    
    text-align: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;
    color: #E56B6F;

}






@media screen and(max-width:425px)
{
    .titulo{
        font-size: 2rem;
}
}


$colores:(
    nav: $colorPrincipal,
    texto: $colorSecundario,
);


.nav{
    background-color: map-get($colores, nav);
}

.titulo{
    color: map-get($colores, texto );
}

@mixin sizes ($font-size, $margin) {
    font-size: $font-size;
    margin: $margin

}


.titulo2{
    margin: 2rem;
    font-size: 1rem;
}
h2{
    margin: 4%;
}


.menu__opcion{
    font-size: 2rem;
    margin: 0;
    display: in;
}











