$colorPrincipal: #355070;
$colorSecundario: #E56B6F;

@import "bootstrap";
@import "cards";
@import "footer";
@import "formulario";
@import "media";
@import "menu";
@import "multimedia";
@import "nav";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


html, body {
    width: 100%;
    height: 100%;
    h4{
        text-align: center;
        margin: 9% 29%;
        background-color: #E56B6F;
        border-radius: 26px;
        padding: 3%;
    }
    h5{
        text-align: center;
        margin: 5% 18%;
        background-color: $colorSecundario;
        border-radius: 26px}
        
}


@media screen and (max-width:768px){
    body{
        h4{
        margin: 10% 27%;
    }
}
    .fotos{
    img{
        height: 30rem;
}
}

}


@media screen and (max-width:425px){
    body{
        h4{
        margin: 13% 3%;
    }
}
    
}

    

.container-fluid{
    margin-bottom: 7%;
    height: 80%;
}


.cuerpo__multimedia{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-radius: 40px;
    margin: auto;
    gap: 20px;
    margin-bottom: 17px;
    
}


.bodyProductos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
        "header header header"
        "main main footer" ;
    
}


.headline{
    text-align: center;
    font-size: 5rem;
    font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;
    color: #E56B6F;

}

.titulo{
    
    text-align: center;
    font-size: 2rem;
    font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;
    color: #E56B6F;

}


@media screen and(max-width:425px)
{
    .titulo{
        font-size: 2rem;
}
}

@media screen and(max-width:768px)
{
    .titulo{
        font-size: 2rem;
}
    .nav-item{
        display: inline;

}
}




$colores:(
    nav: $colorPrincipal,
    texto: $colorSecundario,
);


.nav{
    background-color: map-get($colores, nav);
}

.titulo{
    color: map-get($colores, texto );
}

@mixin sizes ($font-size, $margin) {
    font-size: $font-size;
    margin: $margin

}


.titulo2{
    margin: 2rem;
    font-size: 1rem;
}
h2{
    margin: 4%;
}


.menu__opcion{
    font-size: 2rem;
    margin: 0;
    display: in;
}











