$colorPrincipal: #355070;
$colorSecundario: #E56B6F;

@import "bootstrap";
@import "cards";
@import "footer";
@import "formulario";
@import "menu";
@import "multimedia";
@import "nav";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


body {
    width: 100%;
    height: 100%; 
    .container-fluid{
        margin-top: 2%;
    }
}
    p{
        font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
        font-size: 1.7rem;
        margin: 0 25%;
    }    
    h3{
        margin-top: 5%;
    }
    h4{
        text-align: center;
        margin: 9% 29%;
        background-color: #E56B6F;
        border-radius: 24px;
        font-size: 2.7rem;
    }
    h5{
        text-align: center;
        margin: 5% 18%;
        background-color: $colorSecundario;
        border-radius: 26px}
    .boxTexto{
        color: white;
        background-color: $colorPrincipal;
        font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;
        padding: 25px;
        margin: 0 20%;
        
    }
    .textResaltado{
        color: $colorSecundario;
    }
    .titulo{
        font-size: 2rem;
    }
    .contenedorHome{
        margin: 20px 0;
}

.info{
    background-color: $colorPrincipal;
    padding: 20px;
    color: #EFF3F5;
    font-size: 20px;
    margin: 0 27%;
    p{
        font-size: 1.6rem;
        text-align: center;
        margin: 2px 0;
    }
}


.contenedorVideo{
    display: flex;
    margin: 11px;
    justify-content: center;
    iframe{
        margin: auto;
        height: 23rem;
}
}

.logo{   
    font-size: 4rem;
    color: #E56B6F;
    margin: 0;
    font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;

} 



$colores:(
nav: $colorPrincipal,
texto: $colorSecundario,
);


.nav{
background-color: map-get($colores, nav);
}

.titulo{
color: map-get($colores, texto );
}

@mixin sizes ($font-size, $margin) {
    font-size: $font-size;
    margin: $margin

}


.titulo2{
    margin: 2rem;
    font-size: 1rem;
}
h2{
    margin: 4%;
}


.menu__opcion{
    font-size: 2rem;
    margin: 0;
    display: in;
}
    


.container-fluid{
    margin-bottom: 7%;
    height: 80%;
}


.cuerpo__multimedia{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-radius: 40px;
    margin: auto;
    gap: 20px;
    margin-bottom: 17px;
    
}


.bodyProductos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas:
        "header header header"
        "main main footer" ;
    
}


.headline{
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;
    color: #E56B6F;
    text-decoration: underline $colorSecundario;

}

.titulo{
    
    text-align: center;
    font-size: 1rem;
    font-family: 'Bebas Neue', bold, 'Times New Roman', Times, serif;
    color: #E56B6F;

}

@import "media";
